body {
    background-color: #FFC0CB;
}
#game_board {
    box-sizing: content-box;
}

#game {
    display: flex;
}

#game_controls {
    height: 60px;
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 10px;
    color: #4c9ed9;
    background-color: white;
}

#game_controls_left {
    width: 620px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#game_controls_right {
    display: flex;
    flex: 1 1;
    align-items: center;
}

#game_controls_right__status > span {
    font-weight: bolder;
}

#game_controls_right__buttons {
    display: flex;
    flex: 1 1;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

button {
    height: 40px;
    margin-right: 10px;
}

#game_score {
    flex: 0 1 30%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#game_score > span {
    margin-left: 6px;
}

#game_speed {
    flex: 1 1;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}


#game_speed_title {
    width: 65px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#game_speed_value_input:focus {
    outline: none;
}

#game_speed_value {
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#nn_details {
    display: flex;
    width: calc(100% - 400px);
    margin-left: 10px;
    padding: 10px;
    color: #4c9ed9;
    background-color: white;
}

#nn_details p {
    margin: 0;
}

#nn_details__info {
    width: 200px;
}

#nn_details__map {
    margin-left: 10px;
    padding: 10px;
    flex: 1 1;
    border: 1px solid #dedede;
}
